/res/abstraction/stanford-corenlp-4.2.2/LIBRARY-LICENSES filter=lfs diff=lfs merge=lfs -text
/res/abstraction/stanford-corenlp-4.2.2/Makefile filter=lfs diff=lfs merge=lfs -text
/res/abstraction/stanford-corenlp-4.2.2/RESOURCE-LICENSES filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.out filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
/res/thesis_demonstration_set/training_examples filter=lfs diff=lfs merge=lfs -text
/res/trained/good_model/trained_data/reranker_data filter=lfs diff=lfs merge=lfs -text
/res/trained/nca_model/trained_data/reranker_data filter=lfs diff=lfs merge=lfs -text
*.py !text !filter !merge !diff
*.md !text !filter !merge !diff
*.csv !text !filter !merge !diff
*.ipynb !text !filter !merge !diff
*.txt !text !filter !merge !diff
*.pdf !text !filter !merge !diff
res/setup/lstm_parser_elmo.tar.gz filter=lfs diff=lfs merge=lfs -text
